# انسخ الملف ده وسمّيه .env واملأ القيم الحقيقية

# رابط MongoDB بتاعك (من MongoDB Atlas أو محلي)
MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/portfolio

# البورت اللي هيشتغل عليه السيرفر
PORT=5000
